.team-image-container {
    overflow: hidden;
    margin: 0;
    text-align: left;
}

.team-image-container:before {
    content: "";
    position: absolute;
    width : 100%;
    height: 100%;
    background: inherit;
    z-index: -1;

    filter        : blur(10px);
    -moz-filter   : blur(10px);
    -webkit-filter: blur(10px);
    -o-filter     : blur(10px);

    transition        : all 2s linear;
    -moz-transition   : all 2s linear;
    -webkit-transition: all 2s linear;
    -o-transition     : all 2s linear;
}

.circle-container {
    border-radius: 25%;
}

.bg-dark {
    background-color: #000000 !important;
}

.no-bullets {
    list-style-type: none;
}

.artist-image-container {
    height: 320px;
    width: 320px;
    overflow: hidden;
}

.artist-image-container img {
    min-height: 320px;
}

.artist-image-container img {
    width: 320px;
}

.header-logo {
    transition: 0.3s;
}

#team .card {
    max-width: 350px;
}

.mh-76 {
    min-height: 76vh;
}